.panel-remove{
  border: none;
}

.panel-text{
  width: 250px;
  height: 30px;
  text-indent: 15px;
}

.panel-small{
  padding: 0 !important;
}

.title-head{
  background: rgba(8, 68, 130, 0.1);
  border-radius: 15px 15px;
}

.dash-blue{
  background-color: #021627 !important;
}

.links{
  font-size: 1.8rem !important;
}
.select{
  position: relative;
  float: right;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #337AB7;
  text-indent: 15px;
  font-size: 16px;
  height: 40px;
  color: #747E98;
}

.select:hover{
  border: 1px solid #007bff;
}

.search{
  font-size: 12px;
  margin-left: -20px;
}

.table-font{
  font-size: 16px;
  padding: 15px !important;
}

.panel-body-change{
  background: lightgray !important;
  border: none;
}
body{
  background: lightgray !important;
}


/* Breadcrumb */
.breadcrumb{
  background:#cccccc;
  color:#333333;
}

.breadcrumb a{
  color:#333333;
}

/* Progress Bars */
.progress-bar{
  background:#333333;
  color:#ffffff;
}

.dash-box{
  text-align:center;
  background: #ffffff !important;
  border: 1px solid #ffffff;
}

.white{
  background: none;
}

.panel-change{
  height:60px;
  border-radius: 0 0 15px 15px;
  background:#ffffff !important;
}

.info{
  background-color:#6FAFDD; 
  border-radius: 50%;
  color: #ffffff;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
}

@media (max-width: 320px) {

   .select{
    float: right;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #007bff;
    text-indent: 15px;
    font-size: 12px;
    height: 30px;
    color: gainsboro;
  }
  
}
